fastapi
uvicorn[standard]
email-validator
sqlalchemy
psycopg[binary]
psycopg2-binary
requests
# pyngrok
python-multipart

# AI — LangChain + LangGraph
langchain
langchain-core
langchain-openai
langgraph
openai

# Utilities
python-dotenv